/* ----------------------------------------

Test CSS

---------------------------------------- */

/* This is a comment. It won't show up on your page */

/* Border box, adjusts box model to be easier to use */
/* Always include this for consistency */
*, *:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	font-family: Helvetica, Arial, Sans-Serif;
	font-size: 18px;
	line-height: 1.4;
}

header {
	background-color: #d5265c;
	text-align: center;
	color: white;
	padding: 30px;
}

h1 {
	font-size: 20px;
	padding-bottom: 3;
}

h2 {
	font-size: 24px;
	text-align: center;
}

h1 span {
	opacity: .6;
}

a {
	color: #d5265c;
	text-decoration: none;
}

section.intro {
	padding-top: 100px;
	padding-bottom: 90px;
	background-image: url('../images/bg-image4.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
}

.container{
	max-width: 550px;
	margin: 0 auto;
	padding: 30px;
}

ul {
	list-style-type: circle;
	margin-left: 30px;
}

img {
	width: 100%;
	border: 10px solid #d5265c;
}

footer {
	background-color: black;
	text-align: center;
	color: white;
	padding: 30px;
}